<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Admin Dashboard - Pending</title>
        <link href="/stylesheets/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>   
        <script src="/javascripts/auth.js" type="text/javascript"></script>
        
    </head>
    <body class="sb-nav-fixed">
        
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <img src="/images/papyrus-logo-transparent.png" alt="homepage" class="papy-logo" />
            <!--<a class="navbar-brand ps-3" href="#">Start Bootstrap</a>-->
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <!-- <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>-->
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" onclick="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <a class="nav-link collapsed" href="#" >
                                <div class="sb-nav-link-icon-fix"><i class="fa-thin fa-house"></i></div>
                                 Hello Staff
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <a class="nav-link" href="#">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                         <!--<div class="sb-sidenav-menu-heading">Interface</div>-->   
                            <a class="nav-link collapsed" href="/staff-dashboard/pending" style="background-color: rgb(169, 232, 169);" >
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Pending Orders
                                
                            </a>
                            
                            <a class="nav-link collapsed" href="/staff-dashboard/collect" >
                                <div class="sb-nav-link-icon"><i class="far fa-bell"></i></div>
                                Collect Now
                                
                            </a>
                            <a class="nav-link collapsed" href="/staff-dashboard/archived" >
                                <div class="sb-nav-link-icon"><i class="fas fa-archive"></i></div>
                                Completed & Archived
                               
                            </a>
                            <a class="nav-link collapsed" href="/staff-dashboard/credit" >
                                <div class="sb-nav-link-icon"><i class="fas fa-archive"></i></div>
                                Add Credit
                               
                            </a>

                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in by:</div>
                        Repro Staff
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <br>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Pending Orders</h1>
                        <button class="button-33" role="button">Help</button>
                        <div class="container">
                            <div class="row justify-content-center">
                            <div class="col-md-6 text-center mb-5">
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-md-12">
                            <div class="table-wrap">
                            <table class="table ">
                            <thead>
                            <tr>
                            <th>FILE</th>
                            <th>CATEGORY</th>
                            <th>TOKEN</th>
                            <th>Status</th>
                            <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- ///////////////////////////////////// -->

                            <% for (var i =0; i < pending_order_array.length;  i++ ) { %>
                                <% var fileNameArray = pending_order_array[i].file_path.split('/'); %> 
                            <tr>
                            <th scope="row"><a href="<%= pending_order_array[i].file_path %> "><%= fileNameArray[4] %></a></th>
                                <td>
                                    <% if(pending_order_array[i].colour == 1){ %> 
                                        <span style="font-weight:bold; color: rgb(28, 28, 28); background-color: rgb(219, 219, 219); padding: 2px 5px 2px 5px; border-radius: 5px;">B&W</span> 
                                    <% } else { %>
                                        <span style="font-weight:bold; color: rgb(147, 35, 1); background-color: rgb(255, 218, 159); padding: 2px 5px 2px 5px; border-radius: 5px;">CLR</span>
                                    <% } %>
                                    <% if(pending_order_array[i].binding != 0){ %>
                                        <span style="font-weight:bold; color: rgb(114, 0, 142); background-color: rgb(255, 181, 229); padding: 2px 5px 2px 5px; border-radius: 5px;">Bind</span>
                                        <%} if(pending_order_array[i].lamination != 0) { %>
                                       <span style="font-weight:bold; color: rgb(180, 108, 0); background-color: rgb(248, 236, 159); padding: 2px 10px 2px 10px; border-radius: 5px;"> L</span>
                                        <% } %>
                                </td>
                                <td><%= pending_order_array[i].order_id %> </td>
                                <td><span class="badge bg-warning text-dark">Pending</span></td>
                                <td>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal-process-order-<%= pending_order_array[i].order_id %>">
                                        Process Order
                                    </button>
                                
                                <!-- Modal -->
                                <div class="modal fade" id="modal-process-order-<%= pending_order_array[i].order_id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-fullscreen">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">ORDER NUMBER: <%= pending_order_array[i].order_id %> </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            
                                        <h2 ><a href="<%= pending_order_array[i].file_path %>"  id="fileName"><%= fileNameArray[4] %></a></h2>
                                        <ul>
                                            <% if(pending_order_array[i].colour == 1){  %> 
                                                <li><span style="font-weight:bold; color: rgb(28, 28, 28); background-color: rgb(219, 219, 219); padding: 2px 5px 2px 5px; border-radius: 5px;">Black & White Print</span></li>
                                            <% } else { %>
                                                <li><span style="font-weight:bold; color: rgb(147, 35, 1); background-color: rgb(255, 218, 159); padding: 2px 5px 2px 5px; border-radius: 5px;">Colour Print</span></li>
                                            <% } %>
                                            <% if(pending_order_array[i].binding != 0){ %>
                                                <li><span style="font-weight:bold; color: rgb(114, 0, 142); background-color: rgb(255, 181, 229); padding: 2px 5px 2px 5px; border-radius: 5px;">Bind</span></li>
                                                <%} if(pending_order_array[i].lamination != 0) { %>
                                               <li><span style="font-weight:bold; color: rgb(180, 108, 0); background-color: rgb(248, 236, 159); padding: 2px 10px 2px 10px; border-radius: 5px;">Lamination</span></li>
                                                <% } %>
                                        <li>Orientation: <%= pending_order_array[i].page_orientation %> </li>
                                        <li>Copies: <%= pending_order_array[i].copies %> </li>
                                        </ul>
                                        <br>
                                        <form method="get" action="/staff-dashboard/pending/download/<%= fileNameArray[4] %>">
                                        <a><button type="submit" class="btn btn-primary" >Download File</button></a>
                                        </form>
                                        <form method="post" action="/staff-dashboard/collect/<%= pending_order_array[i].order_id %>">
                                        <button type="submit" class="btn btn-primary" style="background-color: green; border-color: green;">Mark As Processed & Request Collection</button>
                                        </form>
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <form method="post" action="/staff-dashboard/collect/<%= pending_order_array[i].order_id %>">
                                        <button type="submit" class="btn btn-primary" style="background-color: green; border-color: green;">Mark As Complete & Request Collection</button>
                                        </form>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                </td>
                            </tr>
                            <% } %>
                            <!-- /////////////////////////////////////////// -->
                            </tbody>
                            </table>
                            <!-- Full screen modal -->
                            <div class="modal" tabindex="-1">
                                <div class="modal-dialog modal-fullscreen">
                                </div>
                                </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </section>
                <!--  <div class="card mb-4">
                            <div class="card-body">
                                
                            </div>
                        </div>-->
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                   <!--  <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                           <div class="text-muted">Copyright &copy; Your Website 2022</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>-->
                </footer>
            </div>
        </div>
        <script>
            categoryColor = doc
        </script>
        <script>
        function getFileDownload(url) {
                // This can be downloaded directly:
                const xhr = new XMLHttpRequest();
                xhr.responseType = 'blob';
                xhr.onload = (event) => {
                const blob = xhr.response;
                };
                xhr.open('GET', url);
                xhr.send();
            }
            
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/javascripts/scripts.js"></script>
    </body>
</html>
